@charset "UTF-8";

* {
	font-family: Sans-serif;
}

ul {
	padding: 0px;
	list-style: none;
}

a {
	text-decoration: none;
}

body {
    margin: 0px;
    padding: 0px;
}

table {
	padding: 0px;
}

label {
	font-size: 0.8em;
}

#header {
    background-color: #2B5CAB;
    height: 50px;
}

.header-title {
	width: 220px;
	height: 50px;
	float: left; 
	margin-left: 9.5%; 
	background-color: #3F8AFF;
}

.header-title-font {
	line-height: 50px;
	color: white;
}

.header-list {
	font-size: 0px;
	list-style: none;
}

.header-list>li {
	display: inline-block;
	line-height: 50px;
}

.header-list>li>a {
	font-size: 16px;
	color: white;
}

.header-list>li>a:hover {
	text-decoration: underline;
}

.header-bar {
	display: inline-block;
	height: 12px;
	width: 1px;
	padding: 0px;
	margin: 0px 8px;
	color: white;
	background-color: white;
}

#nav {
    height: 80px;
	background-color: white;
	border-bottom: 1px solid gray;
}

.gnb {
	margin-left: 55%;
	position: absolute;
	z-index: 200;
}

.gnb-main {
	display: block;
	padding: 5px 25px;
}

.gnb-main>ul {
	float: left;
}

.gnb-main>ul>li {
	float: left;
}

.gnb-main>ul>li>a {
	padding: 25px 15px;
	margin: 5px 0px;
	font-weight: 600;
	font-size: 1.2em;
	line-height: 40px;
	color: gray;
}

.gnb-main>ul>li>a:hover {
	color: black;
}

.gnb-dth2 {
	float: right;
	width: 55%;
	display: none;
	background-color: #e3e3e3;
	box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
	z-index: 300;
}

.gnb-dth2>ul {
	float: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: 33.3%;
}


.gnb-dth2>ul>li>a {
	color: blue;
	padding: 10px;
	display: block;
}

.gnb-dth2>ul>li:hover {
	text-decoration: underline;
}

#section {
	float: left;
	width: 70%;
	padding: 0% 5% 0% 4%;
	min-height: 500px;
}

#aside {
	float: left;
	width: 21%;
}

.aside-bar {
	display: none;
	margin: 0px;
	padding: 0px;
}

.aside-bar>li {
	list-style: none;
	border-bottom: 1px solid #e0e0e0;
}

.aside-bar>li>a {
	color: black;
	display: block;
	padding: 15px;
	text-decoration: none;
}

.aside-bar>li>a:hover {
	background-color: #cacaca;
}

.aside-selected {
	background-color: gray;
	color: white !important;
}

.aside-selected::after {
	content: "〉";
	float: right;
	color: white;
}

#footer {
    width: 100%;
    clear: both;
}

.login {
	display: inline;
}

.login-box {
	width: 100px;
}

.statement {
	border-collapse: collapse;
	border: 1px solid gray;
	width: 100%;
}

.statement>thead>tr>td {
	padding: 5px;
	border: 1px solid gray;
}

.statement>tbody>tr>td {
	padding: 3px;
	border: 1px solid gray;
}

.statement>tbody>.exist {
	background-color: #e8f4ff;
}

.statement>tbody>.new {
	background-color: #ffdddd;
}


.statement>tbody>tr:hover {
	background-color: #e4e4e4;
}

.statement>tbody>tr>td>input[type='text'] {
	background-color: transparent;
	border: 0px;
	width: 100%;
}

.statement>tbody>tr>td>input[name='acc_title'] {
	background-color: transparent;
	border: 0px;
	width: 80%;
}

.statement>tbody>tr>td>input[name='cus_title'] {
	background-color: transparent;
	border: 0px;
	width: 80%;
}

.statement>tbody>tr>td>a {
	text-decoration: none;
	color: #0000ff;
}

.statement>thead>tr>td {
	font-weight: 900;
	font-size: 16px;
	text-align:center;
}

.statementchanged {
	background-color: #FFFF80 !important;
}

.statementdelete {
	background-color: #FF0000 !important;
}


.customer {
	border-collapse: collapse;
	border-bottom: 2px solid black;
	width:100%;
	text-align:center
}

.customer>thead>tr>td {
	background-color: #1591ff;
	color: white;
}

.customer>tbody>tr>td {
	border-right: 1px solid gray;
	border-left: 1px solid gray;
}

.customer>tbody>tr>td>a {
	color: #0000ff;
	text-decoration: none;
}

.customer>tbody>tr:nth-of-type(odd) {
    background-color: #b7dbff;
}

.customer>tbody>tr:hover {
	background-color: #91c8ff;
}

.customer>tbody>tr:hover a {
	text-decoration: underline;
}

.cus-table {
	text-align:center;
	padding:15px;
	margin: 10px;
	display: inline;
}

.cus-table>tbody>tr>td {
	min-width: 200px;
}


.div-nav-item {
	margin: 5px 0px;
	padding: 0px 0px 0px 10px;
	font-size: 13px;
}

.button {
	background-color: #106EE0;
	border: none;
	color: white;
	padding: 11px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
}

.loginbutton {
	height: 70px;
	background-color: #106EE0;
	border: none;
	color: white;
	padding: 11px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.login-gray-btn {
	background-color: #616161;
	min-width: 100px;
	border: none;
	color: white;
	padding: 5px;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	font-size: 0.8em;	
}

.login-gray-btn::after {
	content: ">";
	float: right;
	font-size: 0.6em;
}

.logininputbox {
	width:90%;
	padding: 5px; 
	margin:5px 0px;  
	background-color:#F2F2F2; 
	border:1px solid #CCCCCC;
}

.logincheckbox {
	background-color: white;
	border:1px solid black;
}


.input-box {
	height: 40px;
	width: 250px;
	padding: 6px 20px;
	margin: 4px 6px;
	box-sizing: border-box;
	border: 2px solid #1591ff;
}


.input-box-login {
	width: 300px;
}

.input-box:focus {
	background-color: #eeeeee;
}


.spanLoginFont {
	color:red;
	font-size: 0.80em;
	font-weight: bold;
}

.h6error {
    font-size: 0.67em;
    font-weight: bold;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.navbtn {
	background-color: #1591ff;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

.navbtn:hover {
	background-color: #0000ff;
}

.dropdown-contents>a:hover {
	background-color: #b6b6b6;
}

.dropdown:hover .dropdown-contents {
	display: block;
}

.dropdown-contents {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-contents a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.search-box {
	border: 2px solid #1591ff;
	padding: 20px; 
	margin: 5px
}

.pagenum {
	font-size: 1.2em;
	text-decoration: none;
}

.pagenum:hover {
	font-size: 1.2em;
	text-decoration: underline;
}

/*manage-company*/
.company {
	border-collapse: collapse;
	border-bottom: 2px solid black;
	width:100%;
	text-align:center
}

.company>thead>tr>th {
	background-color: #1591ff;
	color: white;
}

.company>tbody>tr>td {
	border-right: 1px solid gray;
	border-left: 1px solid gray;
}

.company>tbody>tr>td>a {
	color: #0000ff;
	text-decoration: none;
}

.company>tbody>tr:nth-of-type(odd) {
    background-color: #b7dbff;
}

.company>tbody>tr:hover {
	background-color: #91c8ff;
}

.company>tbody>tr:hover a {
	text-decoration: underline;
}

/* manage-detail */
.detail{
	width:100%;
	border-collapse: collapse;
	text-align: center;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	border-left: 3px solid #369;
	margin: 10px;
}

.detail>thead>tr>th {
	width: 147px;
	padding: 10px;
	font-weight: bold;
	vertical-align: middle;
	color: #153d73;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.detail>tbody>tr>td {
	width: 349px;
	padding: 10px;
	vertical-align: middle;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

/* Ledger AutoComplete */
#autocompleteList {
	min-width: 190px;
	padding: 0px;
	margin: 0px;
	display:none;
	position: absolute;
	z-index: 200;
	background-color: white;
}

#autocompleteList>ul {
	padding: 0px;
	margin: 0px;
}

#autocompleteList>ul>li:hover {
	background-color: #91c8ff;
}
