<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
	    <setting name="cacheEnabled" value="false" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
	    <setting name="mapUnderscoreToCamelCase" value="false"/>
	    <setting name="jdbcTypeForNull" value="OTHER"/>
	</settings>

    <typeAliases>
    	<package name="com.ts.kaikei.vo" />
    </typeAliases>
    
    <mappers>
         <mapper resource = "/sqlmap/AccountMapper.xml"/>
         <mapper resource = "/sqlmap/CompanyMapper.xml"/>
         <mapper resource = "/sqlmap/CustomerMapper.xml"/>
         <mapper resource = "/sqlmap/StatementMapper.xml"/>
         <mapper resource = "/sqlmap/UserMapper.xml"/>
     </mappers>
     
</configuration>